langchain
langchain-core
langchain-community

#llm provider 
langchain-groq
langchain-text-splitters
faiss-cpu
ipykernel
streamlit
python-dotenv



langchain-cohere

lark
langchain_cohere


langchain-qdrant
qdrant-client


# LLM GATEWAY
portkey-ai
langchain-cerebras

# every gateway  -- gives you an openai comaptible  code

langchain-gemini


# evaluaions
openevals